WF_19_1__Newsletter_Agent.json
{
  "name": "WF-19.1: Newsletter Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -300,
        -80
      ],
      "id": "40a7c668-3cc0-4932-b570-381a4c4b87e5",
      "name": "Workflow Input Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"api_key\": \"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\",\n    \"query\": \"{{ $json.query.replace(/\"/g, '\\\\\"') }}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
        "options": {}
      },
      "id": "9c12faea-136d-40e3-8fd1-dab47dc75aa9",
      "name": "Tavily",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9c7odcg8SY8z3O71",
          "name": "Tavily Search"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ae0dd90-d1d0-494b-bd8b-1ef335f0bd8f",
              "name": "response",
              "value": "=[Source 1]\nURL: {{ $json.results[0].url }}\nContent: {{ $json.results[0].content }}\n\n[Source 2]\nURL: {{ $json.results[1].url }}\nContent: {{ $json.results[1].content }}\n\n[Source 2]\nURL: {{ $json.results[2].url }}\nContent: {{ $json.results[2].content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -80
      ],
      "id": "3f65e163-a03b-4506-ab16-54e748953c33",
      "name": "response"
    },
    {
      "parameters": {
        "content": "## Tavily Search workflow",
        "height": 80,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        -200
      ],
      "typeVersion": 1,
      "id": "9460ea72-173e-48cd-925e-44d5142f4408",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Tavily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "main": [
        [
          {
            "node": "response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6906a650-c276-441d-9c3b-a1e9c2554d07",
  "meta": {
    "instanceId": "32abcfe23a703a294bd580240a37e884f6782ba42aeff437bff7e0a3461ea3a4"
  },
  "id": "E68duEsTHJj6WTN1",
  "tags": []
}